/*
 * Colors
 * -----------------------------------------
 */

/* Text color */
.natural-gallery .natural-gallery-categories label:hover .label,
.natural-gallery .natural-gallery-categories:hover .sectionName,
.natural-gallery .natural-gallery-searchTerm:hover .sectionName,
.natural-gallery .natural-gallery-searchTerm:hover input,
.natural-gallery .natural-gallery-searchTerm:hover .sectionName,
.natural-gallery .natural-gallery-images:hover .sectionName {
    color: #0089e0;
}

/*
.natural-gallery .natural-gallery-searchTerm input:focus ~ .sectionName,
.natural-gallery .natural-gallery-searchTerm input:valid ~ .sectionName,
.natural-gallery .natural-gallery-searchTerm input:focus,
*/

.natural-gallery .natural-gallery-next,
.natural-gallery .bar:before,
.natural-gallery .bar:after {
    background-color: #0089e0;
}

/* Inactive */
.natural-gallery .natural-gallery-searchTerm,
.natural-gallery .natural-gallery-categories label,
.natural-gallery .natural-gallery-images {
    border-bottom-color: #999999;
}

.natural-gallery .natural-gallery-searchTerm input,
.natural-gallery .natural-gallery-categories input[type=checkbox]:checked + .label {
    color: #444444;
}

.natural-gallery .sectionName,
.natural-gallery .natural-gallery-categories .label {
    color: #999999;
}

.natural-gallery .natural-gallery-next:hover {
    background-color: #eeeeee;
}

/*
 * Icons
 * -----------------------------------------
 */

/* Search : Magnifying glass logo */
/* <div>Icons made by <a href="http://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
.natural-gallery .natural-gallery-searchTerm:before {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#0089e0" d="M13.889,6.566c-0.537-0.54-1.143-0.946-1.82-1.218c-0.677-0.272-1.367-0.409-2.07-0.411 S8.6,5.067,7.913,5.334C7.226,5.601,6.612,6.002,6.071,6.539c-0.54,0.537-0.942,1.143-1.205,1.82 C4.603,9.036,4.471,9.73,4.468,10.442c-0.002,0.712,0.125,1.408,0.384,2.086c0.258,0.678,0.656,1.288,1.192,1.828 c0.537,0.54,1.148,0.946,1.833,1.218s1.38,0.409,2.083,0.411c0.704,0.002,1.395-0.13,2.073-0.397 c0.678-0.267,1.288-0.669,1.828-1.205c0.54-0.537,0.946-1.143,1.218-1.82c0.272-0.677,0.409-1.371,0.411-2.083 c0.002-0.712-0.13-1.408-0.396-2.086C14.827,7.716,14.426,7.107,13.889,6.566z M2.955,3.401c0.976-0.97,2.078-1.695,3.304-2.177 s2.474-0.721,3.742-0.717c1.268,0.004,2.514,0.252,3.737,0.743s2.319,1.224,3.289,2.2c0.779,0.784,1.401,1.655,1.867,2.612 c0.466,0.957,0.775,1.948,0.928,2.974c0.153,1.026,0.141,2.055-0.037,3.088c-0.177,1.033-0.511,2.018-1.001,2.954l4.466,4.498  c0.26,0.261,0.45,0.549,0.57,0.862c0.121,0.313,0.18,0.639,0.179,0.978c-0.001,0.339-0.063,0.664-0.186,0.977 s-0.315,0.598-0.576,0.858s-0.549,0.45-0.862,0.57s-0.639,0.18-0.978,0.179s-0.664-0.063-0.976-0.186 c-0.312-0.123-0.598-0.315-0.858-0.576l-4.311-4.341c-0.958,0.605-1.984,1.027-3.079,1.266c-1.095,0.239-2.19,0.301-3.284,0.184 c-1.094-0.117-2.157-0.416-3.189-0.897s-1.963-1.14-2.794-1.977c-0.952-0.976-1.669-2.078-2.151-3.304 c-0.482-1.226-0.721-2.474-0.717-3.742C0.043,9.159,0.29,7.913,0.781,6.69C1.272,5.467,1.996,4.371,2.955,3.401z"/></svg>');
}

/* Category : check logo, unchecked */
/* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
.natural-gallery .natural-gallery-categories .label:before {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 415.582 415.582"><path fill="#999" d="M411.47,96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853,0L152.348,243.058l-82.066-82.064 c-5.48-5.482-14.37-5.482-19.851,0l-46.319,46.32c-5.482,5.481-5.482,14.37,0,19.852l138.311,138.31   c2.741,2.742,6.334,4.112,9.926,4.112c3.593,0,7.186-1.37,9.926-4.112L411.47,116.277c2.633-2.632,4.111-6.203,4.111-9.925   C415.582,102.628,414.103,99.059,411.47,96.426z"/></svg>');
}

/* Category : check logo, checked */
.natural-gallery .natural-gallery-categories input[type=checkbox]:checked + .label:before {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 415.582 415.582"><path fill="#0089e0" d="M411.47,96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853,0L152.348,243.058l-82.066-82.064 c-5.48-5.482-14.37-5.482-19.851,0l-46.319,46.32c-5.482,5.481-5.482,14.37,0,19.852l138.311,138.31   c2.741,2.742,6.334,4.112,9.926,4.112c3.593,0,7.186-1.37,9.926-4.112L411.47,116.277c2.633-2.632,4.111-6.203,4.111-9.925   C415.582,102.628,414.103,99.059,411.47,96.426z"/></svg>');
}

/* Pictures logo */
/* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
.natural-gallery .natural-gallery-images:before {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 321.736 321.736"><path fill="#0089e0" d="M0,14.067v293.602h321.736V14.067H0z M285.037,50.768v175.867l-56.88-65.767l-50.467,43.338l-70.958-83.11L36.7,216.436 V50.768H285.037z"/><path fill="#0089e0" d="M202.05,127.211c14.19,0,25.692-11.499,25.692-25.67c0-14.188-11.502-25.69-25.692-25.69   c-14.188,0-25.691,11.502-25.691,25.69C176.358,115.712,187.861,127.211,202.05,127.211z"/></svg>');
}

/* More icon */
/* <div>Icons made by <a href="http://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
.natural-gallery .natural-gallery-next {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306 306"><polygon fill="#0089e0" points="270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35"/></svg>');
}

/* No pictures icon */
/* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
.natural-gallery .natural-gallery-noresults {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 792 792"><path fill="#999" d="M701.993,35.963l-576.029,576.03L90,576.03L666.03,0L701.993,35.963z M507.262,45.579l-391.1,389.128V45.579H507.262z   M301.408,164.719c0-37.59-30.472-68.062-68.062-68.062c-37.924,0-68.062,30.866-68.062,68.062  c0,37.199,30.136,68.062,68.062,68.062C270.937,232.781,301.408,202.309,301.408,164.719z M631.466,505.483  c-20.816,0-155.697,0-176.822,0l-36.476-70.991l-37.216,37.026l16.94,33.963c-5.234,0-18.073,0-51.076,0l-61.236,60.93h390.262  V178.116L537.054,316.207C568.943,380.142,629.047,500.637,631.466,505.483z"/></svg>');
}

/*
 * Basics root
 * -----------------------------------------
 */
.natural-gallery * {
    box-sizing: border-box;
}

.natural-gallery .natural-gallery-header {
    margin: 0 0 10px 0;
}

/* Hide checkboxes */
.natural-gallery .natural-gallery-categories input[type=checkbox] {
    display: none;
}

.natural-gallery .natural-gallery-header:after {
    content: '';
    display: block;
    clear: both;
}

.natural-gallery .sectionContainer {
    margin-top: 30px;
    position: relative;
}

.natural-gallery .natural-gallery-searchTerm,
.natural-gallery .natural-gallery-categories label,
.natural-gallery .natural-gallery-categories {
    float: left;
    margin-right: 5px;
}

.natural-gallery .natural-gallery-images {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.natural-gallery .natural-gallery-categories label {
    position: relative;
    cursor: pointer;
}

.natural-gallery .natural-gallery-categories .label {
    margin-left: 1.5em;
    margin-right: 5px;
}

/* Base for icons */
.natural-gallery .natural-gallery-searchTerm:before,
.natural-gallery .natural-gallery-categories .label:before,
.natural-gallery .natural-gallery-images:before {
    content: "";
    float: left;
    top: 0.5em;
    position: absolute;
    left: 5px;
    width: 1.2em;
    height: 1.2em;
    font-size: 16px;
    background-repeat: no-repeat;
}

.natural-gallery .natural-gallery-searchTerm input,
.natural-gallery .natural-gallery-searchTerm .sectionName,
.natural-gallery .natural-gallery-categories .label,
.natural-gallery .natural-gallery-images {
    display: block;
    padding: 9px 5px 6px;
    font-size: 16px;
    line-height: 1.3em;
}

.natural-gallery .natural-gallery-images {
    padding-left: 2em;
}

.natural-gallery .natural-gallery-searchTerm input {
    border: none;
}

.natural-gallery .natural-gallery-searchTerm input,
.natural-gallery .natural-gallery-categories .label {
    font-weight: normal;
}

.natural-gallery .natural-gallery-searchTerm input {
    width: 300px;
    padding-left: 2em;
}

.natural-gallery .natural-gallery-searchTerm input:focus {
    outline: none;
}

/* Section name ======================================= */
.natural-gallery .sectionName,
.natural-gallery .natural-gallery-categories label {
    margin-bottom: 0;
}

.natural-gallery .sectionName {
    left: 5px;
    top: 0;
    margin-left: 1.5em;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.natural-gallery .natural-gallery-images .sectionName,
.natural-gallery .natural-gallery-categories .sectionName,
.natural-gallery .natural-gallery-searchTerm:hover .sectionName,
.natural-gallery .natural-gallery-searchTerm input:focus ~ .sectionName,
.natural-gallery .natural-gallery-searchTerm input:valid ~ .sectionName {
    top: -1.2em;
    font-size: 14px !important;
    line-height: 1em;
    padding: 0;
    margin: 0;
}

/* NO RESULTS ================================= */

.natural-gallery .natural-gallery-noresults {
    text-indent: -99999em;
    margin: 3em auto 2em;
    width: 100px;
    height: 100px;
}

/* NEXT BUTTONS ================================= */

.natural-gallery .natural-gallery-next {
    cursor: pointer;
    content: "";
    font-size: 16px;
    min-width: 100%;
    height: 2em;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -99999em;
}

/* BOTTOM BARS ================================= */
.natural-gallery .natural-gallery-searchTerm,
.natural-gallery .natural-gallery-categories label,
.natural-gallery .natural-gallery-images {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.natural-gallery .natural-gallery .bar {
    position: relative;
    display: block;
}

.natural-gallery .bar:before,
.natural-gallery .bar:after {
    content: '';
    height: 3px;
    width: 0;
    bottom: -2px;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.natural-gallery .bar:before {
    left: 50%;
}

.natural-gallery .bar:after {
    right: 50%;
}

/* active state */
.natural-gallery .natural-gallery-searchTerm input:focus ~ .bar:before,
.natural-gallery .natural-gallery-searchTerm input:focus ~ .bar:after,
.natural-gallery .natural-gallery-searchTerm input:valid ~ .bar:before,
.natural-gallery .natural-gallery-searchTerm input:valid ~ .bar:after,
.natural-gallery .natural-gallery-categories input[type=checkbox]:checked ~ .bar:before,
.natural-gallery .natural-gallery-categories input[type=checkbox]:checked ~ .bar:after {
    width: 50%;
}
