
.natural-gallery {

    .natural-gallery-thumbnail img {
        box-shadow: 3px 3px 5px #999999;
        text-align: center;
        will-change: opacity;
    }

    .link {
        cursor: pointer;
    }

    .button {
        cursor: pointer;
        margin: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        text-decoration: none;
    }

    .zoomable {
        cursor: zoom-in;
    }

    .figure:not(.selected) {
        .image.zoomable:not(.rotation):hover {
            transform: scale(1.3);
        }
        .image.zoomable.rotation:hover {
            transform: rotate(2deg) scale(1.3);
        }
        .image.zoomable:hover {
            transform: scale(1.3);
        }
        .zoomable:not(.rotation):hover .image {
            transform: scale(1.3);
        }
        .zoomable.rotation:hover .image {
            transform: rotate(2deg) scale(1.3);
        }
    }

    .figure.selected {

        transition-delay: initial;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.7) inset;

        .selectBtn {
            transform: translateY(0%);
            top: 20px;
            left: 20px;
        }

        .image {
            margin: 10px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
        }
    }

    .figure {
        left: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        float: left;
        overflow: hidden;
        margin: 0;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0) inset;
        transition: .2s box-shadow;
        transition-delay: 1s; // prevent box-shadow

        &:hover {
            .title.hover, .title.hover, .selectBtn {
                transform: translateY(0%);
            }
        }

        &.loading::before {
            content: "";
            position: absolute;
            z-index: 990;
            top: 50%;
            left: 50%;
            width: 700px;
            height: 700px;
            margin-left: -350px;
            margin-top: -350px;
            border-radius: 50%;
            transform: scale(0, 0);
            opacity: 0.3;
            animation-name: loading;
            animation-duration: 2s;
            animation-delay: 0.2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
            will-change: width, height, opacity;
        }

        &.loaded.visible {

            & > .image {
                opacity: 1;
                transition: 1s ease-out opacity, 1s ease-out transform, .2s ease-out margin;
            }
        }

        .image {
            display: block;
            position: relative;
            margin: 0;
            width: auto;
            height: auto;
            flex: 1;
            z-index: 100;
            opacity: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: .2s ease all;
        }

        .selectBtn {
            position: absolute;
            z-index: 101;
            top: 10px;
            left: 10px;
            width: 28px;
            height: 28px;
            transition: .2s ease all;
            transform: translateY(calc(-100% - 15px));
            color: rgba(255, 255, 255, 0.7);
            border-radius: 100%;
            fill: currentColor;
            cursor: pointer;
        }

        .title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1100;
            background: rgba(0, 0, 0, 0.6);
            text-align: center;
            color: white;
            font-size: 14px;
            line-height: 2em;
            font-weight: normal;
            padding: 10px;
            transition: .2s ease all;
            overflow: hidden;
            white-space: normal;

            // Status : Mouse out
            &.hover {
                padding: 10px;
                // + the margin of &[href]
                transform: translateY(calc(100% + 10px));
            }
        }
    }
}
