.natural-gallery .natural-gallery-header {
    margin: 0 0 10px 0;

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    .sectionContainer {
        margin-top: 20px;
        position: relative;
    }

    .natural-gallery-images {
        display: block;
        padding: 9px 5px 6px 2em;
        font-size: 16px;
        line-height: 1.3em;
        height: 35px;
        float: right;
        margin-right: 0;
        margin-left: 5px;

        & > svg {
            width: 1.2em;
            height: 1.2em;
            top: 0.5em;
        }

        & > svg {
            content: "";
            float: left;
            position: absolute;
            left: 5px;
            font-size: 16px;
            background-repeat: no-repeat;
        }
    }

    /* active state */
    .natural-gallery-images .sectionName {
        top: -2.2em;
        font-size: 14px !important;
        line-height: 1em;
        padding: 0;
        margin: 1.2em 0 0 0;
    }

    /* Section name ======================================= */
    .sectionName {
        margin-bottom: 0;
        left: 5px;
        top: 0;
        margin-left: 1.5em;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        transition: 0.2s ease all;
    }

    /* BOTTOM BARS ================================= */
    .natural-gallery-images {
        border: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

}
