html, body {
    min-height: 100%;
    height: 100%;
}

a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $primary;
    }

}

a {
    cursor: pointer;
}

a.button,
a.raised {
    display: inline-flex;
    flex-direction: row;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: .9em;
    align-items: center;
    svg {
        width: 1.5em;
        height: 1.5em;
        margin-right: 5px;
    }
}

a.primary {
    color: $primary;
    text-decoration: none;

    &:hover {
        color: $text-color;
        background: rgba(255, 255, 255, 0.2);
    }
}

a.raised {
    color: black;
    background: rgba(255, 255, 255, .7);
    &:hover {
        background: rgba(255, 255, 255, 1);
        color: $primary;
    }
}

/**
 * Icons
 */
svg {
    display: inline-block;
    fill: currentColor;
}

#body {
    overflow: auto;
}

.txt-primary {
    color: $primary
}

.txt-accent {
    color: $accent;
}

.brand-logo {
    font-size: 22px;

    a {
        width: 50px;
        border: none !important;

        svg {
            position: relative;
            top: 2px;
        }
    }
}

.big-logo {
    width: 180px;
    position: relative;
    top: 15px
}
