[debug] {
    border: 2px solid red;
}

[debug][children] {
    & > * {
        border: 2px solid orange;
    }
}

[debug][children][grandchildren] {
    & > * > * {
        border: 2px solid green;
    }
}

.flex {
    flex: 1 1 auto;
}

.hide {
    display: none;
}

.row {
    margin-bottom: $big-gap;
    .container {
        margin: auto;
        padding-left: $gap;
        padding-right: $gap;

        &-1000px {
            max-width: 1000px;
            margin: auto;
            padding-left: $gap;
            padding-right: $gap;
        }

        &-1600px {
            max-width: 1600px;
            margin: auto;
            padding-left: $gap;
            padding-right: $gap;
        }

        &-90perc {
            max-width: 90%;
            margin: auto;
            padding-left: $gap;
            padding-right: $gap;
        }

        &-80perc {
            margin: auto;
            max-width: 80%;
            padding-left: $gap;
            padding-right: $gap;
        }
    }
}

.align-start {
    align-items: flex-start !important;
}

.wrap {
    flex-wrap: wrap;
}

.layout-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
        min-height: 0;
    }

    &.stretch {
        align-items: stretch;
    }

    &.small-gap > *:not(:last-child) {
        margin-right: $small-gap;
    }

    &.gap > *:not(:last-child) {
        margin-right: $gap;
    }

    &.big-gap > *:not(:last-child) {
        margin-right: $big-gap;
    }

}

.layout-column {
    display: flex;
    flex-direction: column;

    & > * {
        min-height: 0;
    }

    &.stretch {
        align-items: stretch;
    }

    &.small-gap > *:not(:last-child) {
        margin-bottom: $small-gap;
    }

    &.gap > *:not(:last-child) {
        margin-bottom: $gap;
    }

    &.big-gap > *:not(:last-child) {
        margin-bottom: $big-gap;
    }
}

.no-margin {
    margin: 0 !important;
}

.margin {
    margin: $gap !important;
}

.margin-v {
    margin-top: $gap !important;
    margin-bottom: $gap !important;
}

.no-padding {
    padding: 0 !important;
}

.padding {
    padding: $gap !important;
}

.padding-v {
    padding-top: $gap !important;
    padding-bottom: $gap !important;
}

