#menu {
    flex: none;
    background: $primary;
    background: $primary;
    background: -moz-linear-gradient(bottom, $primary 50%, $accent 130%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, $primary 50%, $accent 130%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $primary 50%, $accent 130%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    a {
        width: 36px;
        height: 32px;
        padding: 10px;
        color: white;
        position: relative;
        z-index: 999;
        display: block;

        .label {
            display: none;
            position: absolute;
            left: 60px;
            top: 15px;
            width: auto;
            font-size: 20px;
            padding: 1px 10px;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 999px;
            box-shadow: 0 2px rgba(0, 0, 0, 0.3);
            color: #333333;
            white-space: nowrap;
        }

        &:hover .label {
            display: block
        }

    }

}
