@use 'theme';

#menu {
    flex: none;
    background: linear-gradient(to bottom, theme.$primary 50%, theme.$accent 130%);

    a {
        width: 36px;
        height: 32px;
        padding: 10px;
        color: white;
        position: relative;
        z-index: 999;
        display: block;

        .label {
            display: none;
            position: absolute;
            left: 60px;
            top: 15px;
            width: auto;
            font-size: 20px;
            padding: 1px 10px;
            background: white;
            border-radius: 999px;
            box-shadow: 0 2px rgba(0, 0, 0, 0.3);
            color: black;
            white-space: nowrap;
        }

        &:hover .label {
            display: block
        }

    }

}
