@charset "utf-8";

$base-font-family: 'Raleway', sans-serif !default;
$base-font-size: 20px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$text-color: white !default;
$background-color: #222 !default;

$primary: #2a7ae2 !default;
$primary-contrast: white !default;

$accent: #c22ae0 !default;
$accent-contrast: white !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
