---
---

@use 'sass:color';
@use '../_sass/theme';
@use '../_sass/base';
@use '../_sass/layout';
@use '../_sass/monokai';
@use '../_sass/menu';
@use '../_sass/typography';

#search {
    flex: 1;
    font-size: 18px;
    padding: 15px;
    background: white;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
}

#loadingBar {
    position: relative;
    flex: none;
    height: 6px;
    background: color.adjust(theme.$accent,  $lightness: -20%);

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 1s ease-in;
        background: theme.$primary;
        background: -moz-linear-gradient(left, theme.$primary 50%, theme.$accent 150%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, theme.$primary 50%, theme.$accent 150%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, theme.$primary 50%, theme.$accent 150%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    &.loading::after {
        opacity: 1;
        transition: none;
    }
}

.natural-gallery-js {
    margin-bottom: theme.$gap;
    .figure {
        border-radius: 10px;
    }
}

#version {
    display: inline-block;
    font-size:.8em;
    padding: 4px;
    color: #999999;
    position: relative;
    top: -5px;
    margin-left: 5px;
}

.toolbar-buttons {
    display:flex;
    .suggestions {
        flex:1
    }
}
